<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div id="main">
        <div class="top">
            <div class="page-title">
                <h1><%= title %></h1>
            </div>
        </div>
        <div class="container">
            <div class="section-left">
                <% if(logged_in) { %>
                    <% if(user) { %>
                    <h2><%= user.name %></h2>
                    <ul>
                        <li>Karakter: <%= user.character %></li>
                        <li>Kostuum: <%= user.costume %></li>
                        <li>Omschrijving: <%= user.description %></li>
                    </ul>
                    <% } else { %>
                        <h2>Something went wrong fetching your data :-S</h2>
                    <% } %>
                <% } else { %>
                    <h2>Log in</h2>
                    <form action="/user/login" method="POST">
                        <input name="name" type="text" placeholder="Jouw naam"> <br>
                        <input name="pass" type="password" placeholder="Jouw wachtwoord"> <br>
                        <button type="submit" class="action">LOG IN</button>
                    </form>
                <% } %>
            </div>
            <div class="section-right">
                <% if(user.is_admin) { %>
                    <div id="actions">
                        <form action="/tips/create" method="POST">
                            <input name="tip" type="text" placeholder="Tip...">
                            <button type="submit" class="action">VOEG TOE</button>
                        </form>
                    </div>
                <% } %>
                <% for(let i = 0; i < tips.length; i++) { %>
                    <h2>Tip <%= tips[i]._id + 1 %></h2>
                    <p><%= tips[i].tip %> 
                        <% if(user.is_admin) { %>
                            <a href="/tips/delete/<%= i %>" class="action-link danger">Verwijder</a>
                        <% } %>
                    </p>
                <% } %>
            </div>
        </div>    
    </div>
</body>
</html>